{%- if (dnat|length > 0) %}
  {%- for d_key, d_val in dnat.items()|sort %}
# {{ d_key }}
    {%- if (d_val['from'] is defined) and (d_val['from'] is not none) %}
      {%- set src_block = '-s ' ~ d_val['from'] %}
    {%- else %}
      {%- set src_block = ' ' %}
    {%- endif %}
    {%- if (d_val['daddr'] is defined) and (d_val['daddr'] is not none) %}
      {%- set daddr_block = '-d ' ~ d_val['daddr'] %}
    {%- else %}
      {%- set daddr_block = ' ' %}
    {%- endif %}
-A PREROUTING -i {{ d_val['in'] }} {{ src_block }} -p {{ d_val['proto'] }} {{ daddr_block }} --dport {{ d_val['dport'] }} -j DNAT --to-destination {{ d_val['to'] }}
  {%- endfor %}
{%- else %}
# empty
{%- endif %}
